
* {font-family: 'Comfortaa', cursive;}
body {
  background: url('./trainbg3_med.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.jumbotron {
  margin:auto;
  margin-top:2rem;
  margin-bottom:2rem;
  width:90%;
  padding:2rem;
}
